page-login {
  ion-content{
    background-image: url("../../assets/imgs/bg.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .item.item-input {
    background-color: rgba(255, 255, 255, 0.15);
    color: white;
  }
  .text-input::-moz-placeholder {
    color: white;
  }

  .text-input:-ms-input-placeholder {
    color: white;
  }

  .text-input::-webkit-input-placeholder {
    color: white;
  }
}
