
<ion-content padding>
  <br><br><br><br><br>
    <ion-title><img src="../../assets/imgs/white_logo.png"></ion-title>
  <br><br><br>

  <form [formGroup]="slideOneForm">

    <ion-item *ngIf="isAndroid || isIOS" [ngClass]="['mobile']" [class.invalid]="!slideOneForm.controls.username.valid && submitAttempt">
      <ion-input formControlName ="username" placeholder="Username">
      </ion-input>
    </ion-item>

    <ion-item *ngIf="isWeb"  [ngClass]="['web']" [class.invalid]="!slideOneForm.controls.username.valid && submitAttempt">
      <ion-input formControlName ="username" placeholder="username">
      </ion-input>
    </ion-item>

    <ion-item *ngIf="isAndroid || isIOS" [ngClass]="['mobile']">
      <ion-input formControlName ="password" type="password" placeholder="Password">
      </ion-input>
    </ion-item>

    <ion-item *ngIf="isWeb" [ngClass]="['web']">
      <ion-input formControlName ="password" type="password" placeholder="Password">
      </ion-input>
    </ion-item>
    <br>

    <div text-center>
      <button ion-button (click) = "attemptLogin()">Login</button>
    </div>
  </form>

</ion-content>
