<ion-header>

  <ion-navbar>
        <ion-title><img width="200" height="50" src="../../assets/imgs/white_logo.png"></ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <!-- <img [src]="image" width="200px" height="248px"> -->
  <p text-center><img src="{{image}}"></p>
  <ng-container *ngFor="let char of item.Characteristics">
      <!--div *ngIf='dataObject[char.Label]!==undefined;else isDefined' > undefined </div-->
      <!--ion-input type="text" placeholder={{char?.Label}}></ion-input-->
      <!--ng-template #isDefined> </ng-template-->
      <ion-item *ngIf='char.Label != uniqueIDCheck'>
        <ion-label color="primary" stacked>{{char.Label}}</ion-label>
        <ion-input type="text" value={{dataObject[char.Label]}}></ion-input>
      </ion-item>
      <!--{{dataObject[char.Label]}}-->
      <!--<ion-item *ngFor="let dataItem of dataObject.Characteristics">

        <ion-input type="text" placeholder={{char?.Label}}></ion-input>
      </ion-item-->
  </ng-container>



</ion-content>
