<ion-header>
  <ion-navbar>
    <button ion-button menuToggle start>
      <ion-icon color = "light" name="menu"></ion-icon>
    </button>
    <div text-center>
      <ion-title><img width="200" height="50" src="../../assets/imgs/white_logo.png"></ion-title>
    </div>
  </ion-navbar>
</ion-header>

<ion-content padding text-center>

  <ng-container *ngIf = 'darkTheme != true'>
    <h1><img src="../../assets/imgs/black_welcome.png"></h1>
  </ng-container>

  <ng-container *ngIf = 'darkTheme == true'>
    <h1><img src="../../assets/imgs/white_welcome.png"></h1>
  </ng-container>


  <ion-col *ngIf="gvars.getUserName() != 'Matt' && gvars.getUserName() != 'Brianna' && gvars.getUserName() != 'Chris' && gvars.getUserName() != 'Nick'  " class="icon icon-user"><ion-icon name="contact"></ion-icon></ion-col>
  <ng-container *ngIf="gvars.getUserName() == 'Matt' || gvars.getUserName() == 'Brianna' || gvars.getUserName() == 'Chris' || gvars.getUserName() == 'Nick'" >
    <img src="../../assets/imgs/{{gvars.getUserName()}}.png">
  </ng-container>

  <h3>{{gvars.getUserName()}}</h3>
  <!-- Hello <div style="font-weight: bold;vertical-align: middle; display:inline-block;"> {{gvars.getUserName()}}</div>!<br> -->

  <button ion-button>Favorites</button>
  <button ion-button>Last Activity</button>

  <!-- <ion-col class="icon icon-online" *ngIf="status == 'y'" ><ion-icon name="cloud"></ion-icon></ion-col>
  <ion-col class ="icon icon-offline" *ngIf="status == 'n'" ><ion-icon name="close-circle"></ion-icon></ion-col> -->

  <h3 *ngIf="gvars.getOnline()" > Connection Status: Online </h3>
  <h3 *ngIf="!this.gvars.getOnline()" > Connection Status: Offline </h3>

</ion-content>
