<ion-header >

  <ion-navbar>
      <div text-center>
        <ion-title (click)="goHome()"><img width="200" height="50" src="../../assets/imgs/white_logo.png"></ion-title>
      </div>
  </ion-navbar>
  <!-- <ion-navbar #scrollFooter>
      <div text-center>
        <ion-title>ExtraBars</ion-title>
      </div>
  </ion-navbar> -->
</ion-header>




<ion-content #pageContent [scroll-content]="pageContent" [scroll-indicator]="scrollFooter" >
  <p text-center><img src="{{image}}"></p>
  <button ion-button  *ngIf="isImage" (click)="takePicture()">Take Photo</button>

  <!-- <div *ngIf="hierarchyDepth <= maxIndex">{{hierarchyTiers[hierarchyDepth]?.Plural}}</div> -->
  <div style="padding-left: 10px;"><h6>Add new {{camelize(item['Name'])}} for {{referredItemName}}</h6></div>
  <page-formfields-add
    [hierarchy]='item["Characteristics"]'
    [data]="dataObject" [newData]="newDataObject">
  </page-formfields-add>
  <div text-right>
    <button ion-button (click) = "saveEditedData()">Add</button>
    <button [disabled] = "!gvars.getOnline()" ion-button (click) = "uploadEditedData()">Upload</button>
    <!-- <button [disabled] = "true" ion-button (click) = "uploadEditedData()">Upload</button> -->
  </div>

</ion-content>

<ion-footer  #scrollFooter>
    <div class="edit-footer">
      More
      <div style="float: right; padding-top: 5px; padding-right: 10px"> <img width="15" height="15" src="../../assets/imgs/arrowdown.png">&nbsp;</div>
    </div>
</ion-footer>
