.dark-theme {
  ion-content {
    background-color: #323232;
    color: #fff;
  }
  ion-item {
    background-color: #454545;
    color: #fafafa;
  }
  ion-list {
    background-color: #454545;
  }
  ion-icon{
    color: #ffffff;
  }
  .navPath {
    background-color: #454545 !important;
    color: #fafafa;
  }
  .textcolor{
    color: #fafafa;
  }
  .whitetextcolor{
    color: #fafafa;
  }
}
