.light-theme{
  ion-content {
  background-color: #fff;
  }
  .whitetextcolor{
    color: #fafafa;
  }
  .shortbar
  {
    text-align:center;
    background:#00FF11;
    border-style: solid;
    border-width: 1px;
    color: #000000;
    background-color: #fafafa
  }
}
