


<ion-menu id="authenticated" [class]="selectedTheme" [content]="content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <button class="navPath" menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)" style = "vertical-align: middle;">
        <ion-icon *ngIf = "p.title == 'Home'" name="home" style = "padding-right: 10px; vertical-align: bottom;"></ion-icon>
        <ion-icon *ngIf = "p.title == 'About'" name="help-circle" style = "padding-right: 10px; vertical-align: bottom;"></ion-icon>
        <ion-icon *ngIf = "p.title == 'Metadata Entry'" name="paper" style = "padding-right: 10px; vertical-align: bottom;"></ion-icon>
        <ion-icon *ngIf = "p.title == 'Settings'" name="switch" style = "padding-right: 10px; vertical-align: bottom;"></ion-icon>
        <ion-icon *ngIf = "p.title == 'Logout'" name="return-right" style = "padding-right: 10px; vertical-align: bottom;"></ion-icon>
        {{p.title}}
      </button>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-menu id="unauthenticated" [class]="selectedTheme" [content]="content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <button class="navPath" menuClose ion-item>
        Permissions missing.
      </button>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-nav #content [root]="rootPage" [class]="selectedTheme"></ion-nav>
