<ion-header>
  <ion-navbar>
    <button ion-button menuToggle start>
      <ion-icon color = "light" name="menu"></ion-icon>
    </button>
    <ion-title ><img width="200" height="50" (click)="goHome()" src="../../assets/imgs/white_logo.png"></ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

      <!--button ion-item *ngFor="let item of items" (click)="push()">
        {{item.Plural}}
      </button-->

      <h6 *ngIf="currentDisplayPath != null" style="text-align:center;"><b>{{currentDisplayPath}}</b><br></h6>
      <h6 *ngIf="currentDisplayPath == null" style="text-align:center;"><b>{{title}}</b><br></h6>
      {{hierarchyTop?.Plural}}:
      <!-- button ion-item *ngIf=hierarchyTop?.Plural (click)="push()">
        <b>IGNOREME</b>
      </button-->
      <ng-container *ngFor="let item of dataObject">
      <button ion-item *ngIf="hierarchyDepth < maxIndex" (click)="push(item)">
        {{item?.Name}}
      </button>
      <div ion-item *ngIf="hierarchyDepth >= maxIndex">
        {{item?.Name}}
      </div>
      </ng-container>
      <button ion-item *ngIf="hierarchyDepth - 1 > 0" (click)="viewCharacteristics()">
        <font size = "-1">Details</font>
      </button>

</ion-content>
