<ion-header>

  <ion-navbar>
        <ion-title><img width="200" height="50" src="../../assets/imgs/black_logo_2.png"></ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  {{item[0]?.Label}}
    <ion-item *ngFor="let char of item.Characteristics">
      <!--ion-input type="text" placeholder={{char?.Label}}></ion-input-->
      <ion-input type="text" placeholder={{dataObject[char.Label]}}></ion-input>
      <!--<ion-item *ngFor="let dataItem of dataObject.Characteristics">

        <ion-input type="text" placeholder={{char?.Label}}></ion-input>
      </ion-item-->
    </ion-item>


</ion-content>
