<ion-header>

  <ion-navbar>
    <div text-center>
      <ion-title><img width="200" height="50" src="../../assets/imgs/white_logo.png"></ion-title>
    </div>
  </ion-navbar>

</ion-header>


<ion-content>
  <h6 *ngIf="currentDisplayPath != null" style="text-align:center;"><b>{{currentDisplayPath}}</b><br></h6>
  <ion-col class="icon icon-user" ><ion-icon name="create" (click)="goToEdit()"></ion-icon></ion-col>
  <!-- <img [src]="image" width="200px" height="248px"> -->
  <p text-center><img src="{{image}}"></p>
  <ng-container *ngFor="let char of item.Characteristics">
  <ng-container *ngIf = 'char.Label != "Photo"'>
  <ng-container *ngIf="dataObject[char.Label] !=''">
  <ng-container *ngIf="dataObject[char.Label] != null">
  <ng-container *ngIf="dataObject[char.Label] != ' '">
      <!--div *ngIf='dataObject[char.Label]!==undefined;else isDefined' > undefined </div-->
      <!--ion-input type="text" placeholder={{char?.Label}}></ion-input-->
      <!--ng-template #isDefined> </ng-template-->
    <!-- <p>{{dataObject[char.Label]}}_</p> -->
      <ion-item *ngIf='char.Label != uniqueIDCheck'>
        <ion-label color="primary" stacked>{{char.Label}}</ion-label>
        <ion-label class="textcolor" stacked>{{dataObject[char.Label]}}</ion-label>
      </ion-item>
      <!-- {{dataObject[char.Label]}}! -->
      <!--<ion-item *ngFor="let dataItem of dataObject.Characteristics">

        <ion-input type="text" placeholder={{char?.Label}}></ion-input>
      </ion-item-->
  </ng-container>
  </ng-container>
  </ng-container>
  </ng-container>
  </ng-container>


</ion-content>
